/* General Styles */
body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-family: Arial, sans-serif;
}



#top-container {
  position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
}

#middle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bottom-container {
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
}

/* Sequencer Styles */
.sequencer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5%;
}

#sequencer-grid {
    text-align: center;
}

.sequencer-row {
    display: flex;
    justify-content: center;
}

.sequencer-row:hover {
    background-color: #555555;
}

/* Large checkboxes */
.input-box {
    height: 80px;
    width: 80px;
}

.input-box[type="checkbox"]:before {
    width: 80px;
    height: 80px;
}

.input-box[type="checkbox"]:after {
    top: -2vw;
    width: 80px;
    height: 80px;
    color: #ffffff;
}

.input-box:hover {
    background-color: grey;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #ffffff;
    margin: 0;
    font: inherit;
    color: currentColor;
    height: 80px;
    width: 80px;
    max-width: 4.5vw;
    max-height: 4.5vw;
    min-width: 20px;
    min-height: 20px;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

input[type="checkbox"]::after {
    appearance: none;
    background-color: grey;
    margin: 0;
    font: inherit;
    color: currentColor;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

input[type="checkbox"]:after {
    background-color: #333333;
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

input:checked {
    box-shadow: inset 0 0 0 80px #333333;
}


/* Tempo Container Styles */
.tempo-container {
    position: absolute;
    z-index: 2;
    
}

/* Tempo Styles */
#tempo {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-size: 1.5vw;
    z-index: 2;
    
}

/* Button Styles */
#btn {
    background-color: #000000;
    border: none;
    color: #ffffff;
    font-size: 80px;
    font-weight: 600;
    vertical-align: middle;
}

#btn:hover {
    color: #e7e7e7;
    cursor: pointer;
}

/* Oscilloscope Styles */
#oscilloscope {
    position: absolute;
    left: 250px;
    bottom: 0%;
}

/* Tone Play Toggle Styles */
tone-play-toggle {
    width: 40px !important;
    height: 45px !important;
    filter: invert();
    background-color: none;
    display: block;
    margin: auto;
    box-shadow: none;
    outline: none;
}

tone-play-toggle:hover,
tone-play-toggle:active {
    box-shadow: none;
    outline: none;
}

/* Tempo Control Styles */
#tempo-control {
    z-index: 2 !important;
    position: fixed;
    left: 170px;
    bottom: 5%;
    
}

/* Master Volume Styles */
#master-volume {
    z-index: 2 !important;
    position: fixed;
    left: 100px;
    bottom: 0%;
}

