/* General Styles */
body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Top Container Styles */
#top-container {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
}

/* Middle Container Styles */
#middle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Bottom Container Styles */
#bottom-container {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px; 
}

/* Sequencer Styles */
.sequencer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5%;
}

#sequencer-grid {
    text-align: center;
}

.sequencer-row {
    display: flex;
    justify-content: center;
}

.sequencer-row:hover {
    background-color: #555555;
}

/* Large checkboxes */
.input-box {
    height: 80px;
    width: 80px;
}

.input-box[type="checkbox"]:before {
    width: 80px;
    height: 80px;
}

.input-box[type="checkbox"]:after {
    top: -2vw;
    width: 80px;
    height: 80px;
    color: #ffffff;
}

.input-box:hover {
    background-color: grey;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #ffffff;
    margin: 0;
    font: inherit;
    color: currentColor;
    height: 80px;
    width: 80px;
    max-width: 4.5vw;
    max-height: 4.5vw;
    min-width: 20px;
    min-height: 20px;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

input[type="checkbox"]::after {
    appearance: none;
    background-color: grey;
    margin: 0;
    font: inherit;
    color: currentColor;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

input[type="checkbox"]:after {
    background-color: #333333;
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

input:checked {
    box-shadow: inset 0 0 0 80px #333333;
}

/* Tempo Container Styles */
.tempo-container {
    background-color: #000000;
    border: 2px solid #ffffff;
    padding: 5px 10px; /* Adjust the padding as needed */
    cursor: pointer;
    position: fixed;
    height: 40px;
    width: 40px;
}

.tempo-container:hover {
    color: #e7e7e7;
}

/* Nexus UI Play Toggle Container Styles */
.tone-play-toggle-container {
    background-color: #000000;
    border: 2px solid #ffffff;
    padding: 5px 10px; 
    cursor: pointer;
    z-index: 2;
    position: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tone-play-toggle-container:hover {
    color: #e7e7e7;
}


/* Oscilloscope Styles */
#oscilloscope {
    position: fixed;
    left: 226px;
    bottom: 0%;
    border: 2px solid #ffffff;
}

/* Nexus UI Tempo Control Styles */
#nexus-tempo-control {
    z-index: 2 !important;
    position: fixed;
    left: 100px;
    bottom: 5%;
    height: 40px;
    width: 40px;
}

/* Master Volume Styles */
#master-volume {
    z-index: 2 !important;
    position: fixed;
    left: 200px;
    bottom: 0%;
}
